
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="label"></div>
<div class="py-5 container__custom">
    <div class="row" id="renderSearch">
        <div class="main-content">
            <div class="content-page">
                <div data-aos="fade-up" data-aos-duration="1000">
                    <h3 class="text-center font-weight-bold">TỔNG QUAN VỀ SHOP CỦA CHÚNG TÔI</h3>
                    <p class="text-center pb-5">“Tại SHOP TT TTD bạn sẽ được lựa chọn các mẫu mà đồ thể thao, gym, yoga mới nhất với một mức giá cực cực cạnh tranh. Đồng thời bạn còn nhận được những ưu đãi quà tặng kèm theo quần áo tập gym, đồ tập yoga rất giá trị như chương trình tặng balo thể thao, chương trình ưu đãi cho thành viên VIP và VVIP.”</p>
                </div>
                <div class="row bg-white">
                    <div class="col-md-4 d-flex align-items-center justify-content-center" data-aos="fade-right" data-aos-duration="500" style="color: #8e2c0d; background: url(./Images/anh5.jpg)">
                        <div class="text-center text-justify" >
                            <p>Với nguyên tắc cung cấp đến khách hàng các sản phẩm đồ tập Yoga và Gym uy tín và chất lượng hàng đầu. TTD làm việc với các chuyên gia thiết kế thời trang thể thao thường xuyên để có thể lựa chọn chất liệu và kiểu dáng thật sự tinh tế và phù hợp vóc dáng người Việt Nam.</p>
                        </div>
                    </div>
                    <div class="col-md-8" data-aos="fade-left" data-aos-duration="500">
                        <div style="background: url(./Images/anh9.jpg)">
                            <div class="sub-content">
                                <div class="sub-content-item" style=" color: #07f7cd ">
                                    <p><strong>5.400</strong> Quần áo thể thao / năm</p>
                                    <p><strong>5.010</strong> Giày thể thao/ năm</p>
                                    <p><strong>1.290</strong> Dụng  cụ tập Gym,Yooga / năm</p>
                                    <p><strong>2.000</strong> Phụ kiện thể thao / năm</p>
                                    <p><strong>1.800</strong>  Cúp,huy chương thể thao/ năm</p>
                                    <p><strong>6.000</strong> Các sản phẩm khác / năm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding: 70px 0" data-aos="fade-up" data-aos-duration="800">
                    <h3 class="text-center font-weight-bold">HỆ THỐNG CỬA HÀNG</h3>
                    <p class="text-center">Shop ở ngay tại trung tâm Thành Phố Thủ Đức dễ dàng cho bạn di chuyển, ghé shop ngay nào !</p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="img-item">
                                <img src="~/Images/anh6.jpg" class="d-block w-100" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="img-item">
                                <img class="d-block w-100" src="~/Images/anh7.jpg" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="img-item">
                                <img class="d-block w-100" src="~/Images/anh8.jpg" />
                            </div>
                        </div>
                    </div>
                    <p class="text-center mt-5"> Nếu quý khách hàng có nhu cầu sở hữu một trog những sản phẩm của SHOP,chúng tôi  luôn đồng hành và mang đến những giải pháp  tốt nhất dành cho bạn.</p>
                </div>
            </div>
        </div>
    </div>
</div>



